.selection-view-container {
  .img {
    width: 100px;
    height: 100px;
  }

  .table-header {
    padding: 0px 20px;
    margin-top: 40px;
    div {
      font-size: 20px;
      margin-right: 30px;
      align-self: center;
    }
  }

  .filter-column {
      padding-right: 52px;
      background-color: #f9f9f9;
      border-right: 1px solid #e3e3e3;
  }

  .list-area {
    background-color: #ededed;
    background-image: linear-gradient(to right, #ededed, #f7f7f7);
  }

  .filter-section {
    background-color: #ededed;
    border-right: 1px solid #e3e3e3;
  }
}
