.selection-view-container .img {
  width: 100px;
  height: 100px; }

.selection-view-container .table-header {
  padding: 0px 20px;
  margin-top: 40px; }
  .selection-view-container .table-header div {
    font-size: 20px;
    margin-right: 30px;
    align-self: center; }

.selection-view-container .filter-column {
  padding-right: 52px;
  background-color: #f9f9f9;
  border-right: 1px solid #e3e3e3; }

.selection-view-container .list-area {
  background-color: #ededed;
  background-image: linear-gradient(to right, #ededed, #f7f7f7); }

.selection-view-container .filter-section {
  background-color: #ededed;
  border-right: 1px solid #e3e3e3; }
