.loading-spinner-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: center;
  margin: 10%;
    
  .loading-spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #2196F3;
    transform: rotate3d(30deg);
  }
}