@font-face {
	font-family:'BebasNeueRegular';
	font-weight:normal;
	font-style:normal;
	letter-spacing:0.01em;
	src:	url(/rec/assets/f2/desktop/fonts/bebasneue-webfont.eot);
	src:	url(/rec/assets/f2/desktop/fonts/bebasneue-webfont.eot?#iefix) format('embedded-opentype'),
			url(/rec/assets/f2/desktop/fonts/bebasneue-webfont.woff) format('woff'),
			url(/rec/assets/f2/desktop/fonts/bebasneue-webfont.ttf) format('truetype'),
			url(/rec/assets/f2/desktop/fonts/bebasneue-webfont.svg#wf) format('svg');
}

.bebasneue {
	text-transform:uppercase;
	font-weight: normal;
	font-style: normal;
	font-family: 'BebasNeueRegular', Arial;
}