/*
 minified using http://csscompressor.com/
 */
@-webkit-keyframes subtleIn {
    0% {
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        filter: alpha(opacity=0);
        -webkit-transform: translate(0, 300%);
        -moz-transform: translate(0, 300%);
        -o-transform: translate(0, 300%);
        -ms-transform: translate(0, 300%);
        transform: translate(0, 300%)
    }

    30% {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        filter: alpha(opacity=100);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes subtleIn {
    0% {
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        filter: alpha(opacity=0);
        -webkit-transform: translate(0, 300%);
        -moz-transform: translate(0, 300%);
        -o-transform: translate(0, 300%);
        -ms-transform: translate(0, 300%);
        transform: translate(0, 300%)
    }

    30% {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        filter: alpha(opacity=100);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes blinker {
    from {
        opacity: 1
    }

    to {
        opacity: .3
    }
}

html {
    -webkit-font-smoothing: antialiased
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #fff
}

h1 {
    background: #434343;
    background: -moz-linear-gradient(top, #434343 0%, #1c1c1c 100%);
    background: -webkit-linear-gradient(top, #434343 0%, #1c1c1c 100%);
    background: linear-gradient(to bottom, #434343 0%, #1c1c1c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#434343', endColorstr='#1c1c1c', GradientType=0);
    border-bottom: solid 1px #333;
    border-top: solid 1px #444;
    color: #fff;
    font-family: 'BebasNeueRegular', Arial;
    font-size: 2.8em;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 10px 0;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    backface-visibility: hidden
}

h1 span {
    padding-left: 20px;
    white-space: nowrap
}

h1 span.fa {
    font-size: .5em;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -.5em;
    color: #B2B2B2
}

@media only screen and (min-width: 768px) {
    h1 span.fa {
        right: 15px
    }
}

h1 span.fa.reconnecting {
    color: #FF0;
    animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate
}

h1 span.fa.reconnected,
h1 span.fa.connected {
    color: #0F0
}

h1 span.fa.disconnected {
    color: red;
    animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate
}

h2 {
    color: #00ADEF;
    font-size: 1.8em;
    margin: .5em 0
}

h3 {
    margin: 1em 0;
    font-size: 1.5em
}

h2,
h3 {
    font-family: 'BebasNeueRegular', Arial;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px
}

.color-yellow {
    color: #FF0
}

.color-red {
    color: red
}

.color-white {
    color: #FFF
}

.color-green {
    color: #0F0
}

.color-magenta {
    color: #F0F
}

.color-aqua {
    color: #0FF
}

.color-grey {
    color: #B2B2B2
}

@media only screen and (min-width: 767px) {
    .visible-xs {
        position: absolute;
        left: -999999px
    }
}

@media only screen and (max-width: 767px) {
    .hidden-xs {
        display: none
    }
}

.sr-only {
    position: absolute;
    left: -999999px;
    top: -999999px
}

header {
    position: relative
}

header .back-home {
    position: absolute;
    top: 25px;
    right: 15px;
    border-radius: none;
    background-color: #00ADEF;
    border-bottom: solid 1px #0072a5;
    border-left: solid 1px #12b5f3;
    border-right: solid 1px #0072a5;
    border-top: solid 1px #12b5f3;
    cursor: pointer;
    font-size: 2em;
    color: #fff;
    padding: 5px
}

@media only screen and (min-width: 768px) {
    header .back-home {
        right: 25px
    }
}

.page-header {
    background: #003c60;
    background: -moz-linear-gradient(left, #003c60 0%, #00aaeb 100%);
    background: -webkit-linear-gradient(left, #003c60 0%, #00aaeb 100%);
    background: linear-gradient(to right, #003c60 0%, #00aaeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003c60', endColorstr='#00aaeb', GradientType=1);
    padding: 15px 20px
}

.page-header a img {
    margin-right: 20px;
    float: left
}

.page-header span {
    color: #fff;
    font-family: 'BebasNeueRegular', Arial;
    font-size: 2.4em;
    line-height: 53px;
    text-decoration: none
}

.no-touchevents #cssmenu ul ul li:hover>a {
    background-color: #00ADEF;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

@media only screen and (max-width: 767px) {
    .no-touchevents #cssmenu ul ul li:hover>a {
        color: #fff
    }
}

.no-touchevents #cssmenu ul ul li a:hover {
    background-color: #00ADEF;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

.no-touchevents #cssmenu ul ul>li.has-sub:hover>a:before {
    top: 17px;
    height: 0
}

.no-touchevents #cssmenu li:hover>ul {
    left: auto
}

.no-touchevents #cssmenu li:hover>ul>li {
    height: 35px
}

@media only screen and (max-width: 767px) {
    .no-touchevents #cssmenu li:hover>ul>li {
        height: auto
    }
}

@media only screen and (min-width: 768px) {
    .no-touchevents #cssmenu li:hover>ul {
        z-index: 1;
        display: block !important
    }
}

.no-touchevents #cssmenu>ul>li:hover>a {
    background-color: #00ADEF;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

.no-touchevents #cssmenu>ul>li.has-sub:hover .submenu-opened+a:before {
    top: 23px;
    height: 0
}

.no-touchevents #cssmenu>ul>li.has-sub:hover>a:before {
    top: 23px;
    height: 0
}

.touchevents #cssmenu li.has-sub .submenu-opened+a {
    background-color: #00ADEF;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

.touchevents #cssmenu li.has-sub .submenu-opened+a:before {
    top: 23px;
    height: 0
}

.touchevents #cssmenu li.has-sub .submenu-opened+a+ul {
    left: auto
}

.touchevents #cssmenu li.has-sub .submenu-opened+a+ul>li {
    height: 35px
}

@media only screen and (max-width: 767px) {
    .touchevents #cssmenu li.has-sub .submenu-opened+a+ul>li {
        height: auto
    }
}

@media only screen and (min-width: 768px) {
    .touchevents #cssmenu li.has-sub .submenu-opened+a+ul {
        z-index: 1;
        display: block !important
    }
}

#cssmenu {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    background: #333;
    width: 100%;
    backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0
}

@media only screen and (max-width: 767px) {
    #cssmenu ul ul ul li a {
        padding-left: 35px
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu ul ul li.last-child>a,
#cssmenu ul ul li.last-item>a {
    border-bottom: 0
}

#cssmenu ul ul li.has-sub>a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu ul ul li.has-sub>a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

@media only screen and (max-width: 767px) {
    #cssmenu ul ul li.active>a {
        color: #fff
    }
}

#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: #333
}

@media only screen and (max-width: 767px) {
    #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0;
        padding-left: 25px;
        color: #ddd;
        background: none
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu ul ul li {
        height: auto
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu ul ul>li.has-sub>a:after {
        display: none
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu ul ul>li.has-sub>a:before {
        display: none
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }
}

#cssmenu ul li {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media only screen and (max-width: 767px) {
    #cssmenu ul li a {
        width: 100%;
        border-bottom: 0
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid rgba(120, 120, 120, 0.2)
    }
}

@media only screen and (min-width: 768px) {
    #cssmenu ul.parent-menu {
        display: block !important
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu ul {
        width: 100%;
        display: none
    }
}

#cssmenu>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

@media only screen and (max-height: 320px) {
    #cssmenu>ul ul {
        height: 180px;
        overflow-y: scroll
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu>ul ul {
        z-index: 2
    }
}

#cssmenu>ul li.active>a {
    background-color: #00ADEF;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu>ul>li {
    float: left;
    border-left: solid 1px #666
}

#cssmenu>ul>li:first-child {
    border-left: none
}

@media only screen and (min-width: 979px) {
    #cssmenu>ul>li:first-child {
        display: none
    }

    #cssmenu>ul>li:nth-child(2) {
        border-left: none
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu>ul>li.hidden-xs {
        display: none
    }
}

#cssmenu>ul>li.has-sub>a {
    padding-right: 30px
}

#cssmenu>ul>li.has-sub>a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

@media only screen and (max-width: 767px) {
    #cssmenu>ul>li.has-sub>a:before {
        display: none
    }
}

#cssmenu>ul>li.has-sub>a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

@media only screen and (max-width: 767px) {
    #cssmenu>ul>li.has-sub>a:after {
        display: none
    }
}

#cssmenu>ul>li>a {
    padding: 17px;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase
}

@media only screen and (max-width: 767px) {
    #cssmenu>ul>li {
        border-left: none;
        float: none
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu .submenu-button.submenu-opened:before {
        display: none
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.2);
        height: 46px;
        width: 46px;
        cursor: pointer
    }
}

#cssmenu #menu-button {
    display: none;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media only screen and (max-width: 767px) {
    #cssmenu #menu-button:before {
        position: absolute;
        top: 16px;
        right: 17px;
        display: block;
        height: 2px;
        width: 20px;
        background: #ddd;
        content: ''
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu #menu-button:after {
        position: absolute;
        top: 22px;
        right: 17px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        content: ''
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu #menu-button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 15px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu #menu-button.menu-opened:after {
        top: 23px;
        border: 0;
        height: 2px;
        width: 15px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}

@media only screen and (max-width: 767px) {
    #cssmenu #menu-button {
        display: block;
        height: 44px;
        color: #ddd;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700
    }
}

#cssmenu .mobile-nav-wrapper {
    display: none
}

@media only screen and (max-width: 767px) {
    #cssmenu .mobile-nav-wrapper {
        display: table;
        width: 100%
    }

    #cssmenu .mobile-nav-wrapper #menu-button,
    #cssmenu .mobile-nav-wrapper #tabs {
        display: table-cell;
        vertical-align: middle
    }

    #cssmenu .mobile-nav-wrapper #menu-button {
        width: 46px
    }
}

@media only screen and (min-width: 520px) and (max-width: 767px) {
    #cssmenu .hidden-520-768 {
        display: none
    }
}

#cssmenu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

#cssmenu.align-center ul ul {
    text-align: left
}

#cssmenu.align-center>ul {
    font-size: 0;
    text-align: center
}

@media only screen and (max-width: 767px) {
    #cssmenu.align-center>ul {
        text-align: left
    }
}

#cssmenu.align-center>ul>li {
    display: inline-block;
    float: none
}

#cssmenu.align-right ul ul {
    text-align: right
}

#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%
}

#cssmenu.align-right ul ul li.has-sub>a:before {
    right: auto;
    left: 14px
}

#cssmenu.align-right ul ul li.has-sub>a:after {
    right: auto;
    left: 11px
}

@media only screen and (max-width: 767px) {
    #cssmenu.align-right ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }
}

#cssmenu.align-right li:hover>ul {
    left: auto;
    right: 0
}

#cssmenu.align-right>ul>li {
    float: right
}

@media only screen and (max-width: 767px) {
    #cssmenu {
        width: 100%
    }
}

#tabs .tab-links {
    display: table;
    width: 100%
}

#tabs .tab-links a.resize-hidden {
    display: none
}

@media only screen and (min-width: 520px) {
    #tabs .tab-links a.resize-hidden {
        display: table-cell
    }
}

#tabs a {
    display: table-cell;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0 20px;
    height: 44px;
    border-left: solid 1px #666
}

#tabs a:first-child {
    border-left: none
}

#tabs a.active {
    background-color: #00ADEF
}

.common-headings {
    padding: 10px 0 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased
}

@media only screen and (min-width: 1500px) {
    .common-headings {
        font-size: 1.4em
    }
}

@media only screen and (max-width: 767px) {
    .common-headings.race-session>ul li.bestlap-info {
        line-height: 1.6
    }
}

.common-headings>ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.common-headings>ul li {
    border-left: solid 1px #666;
    padding-right: 5px;
    padding-left: 10px
}

.common-headings>ul li:first-child {
    padding-left: 0;
    border-left: none
}

@media only screen and (max-width: 420px) {
    .common-headings>ul li.cutofftime {
        display: block;
        padding: 10px 0 0;
        border-left: none
    }
}

@media only screen and (max-width: 767px) {
    .common-headings>ul li .driver-tla {
        display: inline
    }
}

@media only screen and (min-width: 768px) {
    .common-headings>ul li .driver-tla {
        display: none
    }
}

@media only screen and (max-width: 767px) {
    .common-headings>ul li .driver-fullname {
        display: none
    }
}

@media only screen and (min-width: 768px) {
    .common-headings>ul li .driver-fullname {
        display: inline
    }
}

.common-headings .flag-status,
.common-headings .session-timings {
    display: inline
}

.common-headings .track-flag {
    font-family: 'Open Sans', sans-serif
}

.common-headings .track-flag:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 10px
}

.common-headings .track-status {
    text-transform: uppercase;
    padding-left: 10px
}

table tbody tr {
    /* background-color: #141414; */
    -webkit-user-select: none;
    -webkit-touch-callout: none
}

table tbody tr:nth-child(even) {
    /* background-color: #000 */
}

@media only screen and (min-width: 768px) {

    table tbody tr:hover,
    table tbody tr.hover_effect {
        /* background-color: #555; */
        -webkit-user-select: none;
        -webkit-touch-callout: none
    }
}

table th {
    color: #B2B2B2;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .857em;
    padding: 5px 10px;
    white-space: nowrap;
    -webkit-font-smoothing: subpixel-antialiased
}

@media only screen and (min-width: 980px) {
    table th {
        font-size: .857em
    }
}

@media only screen and (min-width: 1500px) {
    table th {
        font-size: 1em
    }
}

table td {
    background-color: transparent;
    border-right: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .857em;
    line-height: 1.6em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 1px 10px;
    white-space: nowrap;
    color: #FF0;
    -webkit-font-smoothing: subpixel-antialiased
}

@media only screen and (min-width: 980px) {
    table td {
        font-size: .857em
    }
}

@media only screen and (min-width: 1500px) {
    table td {
        font-size: 1em
    }
}

table .driver-full-name {
    display: none
}

@media only screen and (min-width: 768px) {
    table .driver-full-name {
        display: block
    }
}

table .driver-short-name {
    display: block
}

@media only screen and (min-width: 768px) {
    table .driver-short-name {
        display: none
    }
}

table .sector1-time,
table .sector2-time,
table .sector3-time,
table .best-lap {
    text-align: center
}

table .car-number,
table .lap-count,
table .gap,
table .pit {
    text-align: right
}

table .position,
table .driver-short-name,
table .driver-full-name,
table .interval,
table .col1 {
    text-align: left
}

table .position,
table .col1 {
    padding-left: 0
}

table .col1 {
    width: 4%
}

@media only screen and (min-width: 600px) {
    table .col1 {
        width: 6%
    }
}

@media only screen and (min-width: 980px) {
    table .col1 {
        width: 5%
    }
}

@media only screen and (min-width: 1500px) {
    table .col1 {
        width: 5.5%
    }
}

table .col2 {
    width: 37%
}

@media only screen and (min-width: 480px) {
    table .col2 {
        width: 23%
    }
}

@media only screen and (min-width: 568px) {
    table .col2 {
        width: 19%
    }
}

@media only screen and (min-width: 600px) {
    table .col2 {
        width: 16%
    }
}

@media only screen and (min-width: 768px) {
    table .col2 {
        width: 25%
    }
}

@media only screen and (min-width: 1500px) {
    table .col2 {
        width: 25.7%
    }
}

.table-footer-info table {
    width: 100%
}

.table-footer-info p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .857em;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #0FF
}

@media only screen and (min-width: 980px) {
    .table-footer-info p {
        font-size: .857em
    }
}

@media only screen and (min-width: 1500px) {
    .table-footer-info p {
        font-size: 1em
    }
}

@media only screen and (min-width: 1500px) {
    .parent-screen .screen .screen-wrap .table-footer-info p {
        font-size: 1em
    }
}

section {
    font-size: 1.4em;
    line-height: 1.4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative
}

.screen.move-to-hash {
    padding-top: 60px
}

.screen.move-to-hash .fixed {
    top: 60px
}

@media only screen and (min-width: 980px) {
    .screen {
        overflow-y: auto
    }
}

.parent-screen {
    position: relative
}

.parent-screen .screen {
    position: relative
}

.parent-screen .screen a {
    color: #00ADEF
}

@media only screen and (min-width: 980px) {
    .parent-screen .screen.live-timming .screen-wrap {
        padding-right: 0
    }
}

.parent-screen .screen .screen-wrap {
    padding: 0 20px
}

.parent-screen .screen .screen-wrap h2 {
    margin-top: 0
}

@media only screen and (min-width: 1500px) {
    .parent-screen .screen .screen-wrap p {
        font-size: 1.2em;
        line-height: 1.6
    }
}

@media only screen and (max-width: 979px) {

    .parent-screen .screen.live-timming,
    .parent-screen .screen.weather,
    .parent-screen .screen.commentary,
    .parent-screen .screen.color-codes,
    .parent-screen .screen.race-info,
    .parent-screen .screen.weather-speed-info,
    .parent-screen .screen.lap-chart,
    .parent-screen .screen.track-status-info,
    .parent-screen .screen.faq-info {
        background-color: #000;
        display: none
    }

    .parent-screen .screen.live-timming.is-visible,
    .parent-screen .screen.weather.is-visible,
    .parent-screen .screen.commentary.is-visible,
    .parent-screen .screen.color-codes.is-visible,
    .parent-screen .screen.race-info.is-visible,
    .parent-screen .screen.weather-speed-info.is-visible,
    .parent-screen .screen.lap-chart.is-visible,
    .parent-screen .screen.track-status-info.is-visible,
    .parent-screen .screen.faq-info.is-visible {
        display: block
    }
}

@media only screen and (min-width: 980px) {
    .parent-screen .screen.live-timming {
        float: left;
        min-width: 695px;
        width: 50%;
        display: none
    }

    .parent-screen .screen.live-timming.is-screen-visible {
        display: block
    }

    .parent-screen .screen.weather,
    .parent-screen .screen.commentary,
    .parent-screen .screen.color-codes,
    .parent-screen .screen.race-info,
    .parent-screen .screen.weather-speed-info,
    .parent-screen .screen.lap-chart,
    .parent-screen .screen.track-status-info,
    .parent-screen .screen.faq-info {
        overflow-x: hidden;
        display: none;
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        filter: alpha(opacity=0)
    }

    .parent-screen .screen.weather.is-visible,
    .parent-screen .screen.commentary.is-visible,
    .parent-screen .screen.color-codes.is-visible,
    .parent-screen .screen.race-info.is-visible,
    .parent-screen .screen.weather-speed-info.is-visible,
    .parent-screen .screen.lap-chart.is-visible,
    .parent-screen .screen.track-status-info.is-visible,
    .parent-screen .screen.faq-info.is-visible {
        display: block;
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        filter: alpha(opacity=100)
    }
}

.live-timming .scrollable {
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
    margin-left: 120px
}

.live-timming .scrollable>div {
    width: 100%
}

.live-timming .scrollable>div table {
    width: 100%
}

.live-timming .scrollable table .position,
.live-timming .scrollable table .car-number,
.live-timming .scrollable table .driver-short-name {
    display: none
}

@media only screen and (min-width: 768px) {
    .live-timming .scrollable {
        overflow: hidden;
        margin-left: 0
    }

    .live-timming .scrollable table .position,
    .live-timming .scrollable table .car-number {
        display: table-cell
    }
}

@media only screen and (max-width: 768px) {
    .live-timming .scrollable table tr {
        height: 21px
    }
}

.live-timming .fixed {
    position: absolute;
    left: 20px;
    top: 0;
    width: 130px;
    padding-bottom: 20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.live-timming .fixed table {
    width: 100%
}

@media only screen and (min-width: 768px) {
    .live-timming .fixed {
        display: none
    }
}

@media only screen and (max-width: 768px) {
    .live-timming .fixed table tr {
        height: 21px
    }
}

.commentary ol,
.commentary li {
    margin: 0;
    padding: 0;
    list-style: none
}

.commentary li {
    border-top: solid 1px #222;
    position: relative
}

.commentary li:first-child {
    border-top: none
}

.commentary li p {
    display: inline-block;
    color: #b2b2b2
}

.commentary li p span {
    padding-right: 5px;
    margin-left: -25px;
    width: 20px
}

.commentary li p span.fa-caret-up {
    color: #00ADEF;
    font-size: 1.5em
}

.commentary li p span.fa-flag-checkered {
    color: #FFF
}

.weather .table {
    padding-bottom: 20px
}

@media only screen and (max-width: 567px) {
    .weather .table {
        overflow: scroll;
        overflow-y: hidden
    }
}

@media only screen and (min-width: 980px) and (max-width: 1200px) {
    .weather .table {
        overflow: scroll;
        overflow-y: hidden
    }
}

.weather table {
    width: 100%
}

.weather table th {
    color: #B2B2B2
}

.weather table th,
.weather table td {
    text-align: left
}

.weather table td {
    color: #FFF
}

.weather table th:first-child,
.weather table td:first-child {
    padding-left: 0
}

.weather table th:last-child,
.weather table td:last-child {
    padding-right: 0
}

.weather table .name {
    width: 50px;
    float: left
}

.weather h3.border-top {
    margin: 0;
    padding: 1em 0;
    border-top: solid 1px #222
}

.weather .weather-track-info {
    margin: 0;
    padding-bottom: 20px
}

.weather .weather-track-info,
.weather .weather-track-info li {
    list-style: none;
    padding-left: 0;
    margin-left: 0
}

.weather .weather-track-info li {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .857em;
    padding: 5px 0;
    white-space: nowrap;
    clear: both;
    -webkit-font-smoothing: subpixel-antialiased
}

@media only screen and (min-width: 980px) {
    .weather .weather-track-info li {
        font-size: .857em
    }
}

@media only screen and (min-width: 1500px) {
    .weather .weather-track-info li {
        font-size: 1em
    }
}

.weather .weather-track-info li .title {
    text-transform: uppercase;
    width: 100px;
    float: left;
    color: #B2B2B2
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 76px;
    margin-top: 20px;
    text-align: center
}

.loader .fallback {
    display: none
}

.lt-ie10 .loader .fallback {
    display: block;
    margin: -14px 0 0
}

.loader .bar {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: subtleIn;
    animation-name: subtleIn;
    display: inline-block;
    width: 25px;
    height: 3px;
    margin: 0 1px;
    font-size: 0;
    background: #00ADEF;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0)
}

.loader .bar:nth-child(1) {
    -webkit-animation-delay: 0;
    animation-delay: 0
}

.loader .bar:nth-child(2) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.loader .bar:nth-child(3) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.inline-status {
    display: inline
}

footer {
    padding: 0 20px 20px;
    text-align: center
}

@media only screen and (min-width: 980px) {
    footer {
        position: absolute;
        bottom: 0;
        left: 0
    }
}

.text-mobile {
    display: block
}

@media only screen and (min-width: 768px) {
    .text-mobile {
        display: none
    }
}

.text-tablet {
    display: none
}

@media only screen and (min-width: 768px) {
    .text-tablet {
        display: block
    }
}