.jumbotron-new {
  padding: 2rem 1rem;
  border-radius: 0rem;
  height: 100vh;
  background: url("../../assets/motox.jpg");
  background-size: cover; }

.bg-jumbo {
  background-color: #636e72;
  color: #fff; }

@media (min-width: 576px) {
  .jumbotron-new {
    padding: 4rem 2rem; } }

.hero-text {
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  color: #222f3e; }

.bold {
  font-weight: 800; }
