.navbar {
  height: 60px;
  #mpp-icon{
    height: 30px;
    margin-right: 20px;
    width: auto;
  }
  a {
    color: #222f3e;
  }

  a:hover {
    text-decoration: none;
  }

  .svg-inline--fa {
      overflow: visible;
      margin-right: 6px;
  }
}
