.navbar {
  height: 60px; }
  .navbar #mpp-icon {
    height: 30px;
    margin-right: 20px;
    width: auto; }
  .navbar a {
    color: #222f3e; }
  .navbar a:hover {
    text-decoration: none; }
  .navbar .svg-inline--fa {
    overflow: visible;
    margin-right: 6px; }
