.btn.cancel-button {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40; }

button {
  border: none !important;
  padding: 1px 7px 2px;
  background: none;
  cursor: pointer; }

.build-guides-alert {
  height: 60px;
  width: 100%;
  padding: 18px;
  color: #252835;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center; }

.build-guides-save-container input {
  width: 250px;
  height: 40px;
  padding: 5px;
  font-size: 1em;
  display: inline; }

.build-guides-save-container .btn {
  margin-left: 30px; }

.logo {
  font-weight: 800;
  font-size: 26px;
  color: #252525;
  font-style: italic; }

.red {
  color: #c0392b; }

.container-fluid {
  padding: 0px; }

.light {
  background-color: #fff; }

/* Top Nav */
.top-nav a {
  color: #252525; }

.link {
  text-decoration: none; }

.white {
  color: #fff; }

#brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

#brand:hover {
  color: #252525; }

.logoLead {
  font-size: 20px; }

.logo span {
  color: #c0392b; }

.top-nav {
  font-size: 14px;
  font-weight: 600;
  padding: 1.5rem; }

.top-nav a:hover {
  color: #c0392b;
  text-decoration: none; }

.main-nav {
  background-color: #fff;
  border-bottom: 1px solid #ccc; }

.main-nav a {
  color: #c0392b;
  height: 60px;
  font-weight: 600;
  display: inline-block;
  padding: 0.75em 1.25em 0.75em 3.5em;
  background-position: 16px 18px;
  border-right: 1px solid #ccc; }

.main-nav a:hover {
  color: #c0392b;
  background-color: #ecf0f1; }

.main-nav span {
  text-transform: uppercase;
  color: #0b0b0f;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 3px; }

.nav li #nav-icon {
  color: #252835;
  position: absolute;
  margin-left: -40px;
  margin-top: 8px;
  font-size: 1.3em; }

ul li a:hover {
  text-decoration: none; }

#left-link {
  border-left: 1px solid #ccc; }

.active {
  color: #fff;
  border-bottom: #f39c12 2px solid; }

.inactive {
  color: #ffffffad !important; }

.main-jumbo {
  margin-bottom: 2rem;
  padding: 4rem 2rem;
  border-radius: 0rem;
  background-color: #ddd;
  color: #252835; }

.main-jumbo p {
  color: #252835f3; }

#no-image {
  color: #ccc;
  background-color: #ddd;
  background-size: 45px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 8.7px; }

.main-jumbo .card {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  box-shadow: 7px 9px #c0392b; }

.main-jumbo .card:hover {
  transform: scale(1.02);
  box-shadow: 12px 16px #c0392b; }

.card-text {
  font-size: 13px; }

.main-jumbo .list-unstyled {
  padding-left: 35px;
  list-style: none; }

.cost {
  color: #e67e22; }

.media-body a {
  color: #252835; }

.media-body a:hover {
  color: #c0392b;
  text-decoration: none; }

/* build-creator-container */
.build-creator-container {
  height: auto !important;
  margin-bottom: 30px; }
  .build-creator-container .parts-table-header {
    display: grid;
    grid-template-columns: auto auto; }
    .build-creator-container .parts-table-header div {
      align-self: center; }
  .build-creator-container .form-group {
    justify-content: flex-end;
    margin-bottom: 0px; }
  .build-creator-container .custom-input {
    display: block;
    width: auto !important;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

/* Current Part list */
.jumbotron-reminder {
  padding: 1rem;
  background-color: #ededed;
  background-image: none;
  border-bottom: 1px solid #e3e3e3;
  color: #fff;
  border-radius: 0px; }

.jumbotron-reminder a {
  font-weight: 700;
  color: #c0392b; }

.jumbotron-reminder a:hover {
  font-weight: 700;
  color: #922d22;
  text-decoration: none; }

table {
  margin-top: 40px; }

.table thead th {
  border-top: 0px;
  font-size: 12px;
  padding: 0.45rem; }

.table tr th {
  vertical-align: middle; }

object {
  width: 100%;
  min-height: 800px; }

/* Product Page */
.list-area {
  background-color: #ededed;
  background-image: linear-gradient(to right, #ededed, #f7f7f7); }

.filter-section {
  background-color: #f7f7f7;
  border-right: 1px solid #e3e3e3; }

.list-section {
  background-color: #f7f7f7; }

.build-share-icons {
  margin-left: 10px;
  float: left;
  color: #1d1d1d; }

.build-share-icons:hover {
  color: #2c3e50;
  text-decoration: none; }

@media screen and (max-width: 660px) {
  .mobileTableCell {
    display: none; } }
