.build-lists-container {
  min-height: 100% !important;
  height: inherit;
  .card {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 10px;

    .card-img {
      align-self: center;
    }

    .card-body-container {
      margin: 20px;
    }
  }

@media screen and (min-width: 500px) {
  .parts-table-header {
    display: grid;
    grid-template-columns: auto auto;

    div {
      align-self: right;
    }

    .icon-row {
      display: flex;
      justify-content: flex-end;
    }
  }
}

  #productImg {
    width: 10%;
  }

  .no-saved-list-header {
    text-align: center;
    margin: 10% 20px;
  }

  .build-list-item {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}
