.build-lists-container {
  min-height: 100% !important;
  height: inherit; }
  .build-lists-container .card {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 10px; }
    .build-lists-container .card .card-img {
      align-self: center; }
    .build-lists-container .card .card-body-container {
      margin: 20px; }
  @media screen and (min-width: 500px) {
    .build-lists-container .parts-table-header {
      display: grid;
      grid-template-columns: auto auto; }
      .build-lists-container .parts-table-header div {
        align-self: right; }
      .build-lists-container .parts-table-header .icon-row {
        display: flex;
        justify-content: flex-end; } }
  .build-lists-container #productImg {
    width: 10%; }
  .build-lists-container .no-saved-list-header {
    text-align: center;
    margin: 10% 20px; }
  .build-lists-container .build-list-item {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px; }

.link {
  text-decoration: underline; }

.link:hover {
  text-decoration: underline; }
