.build-creator-container {
  .pre-search-view-container {
    overflow: hidden;
    height: 380px;
    display: block;
    position: relative;
    padding: 30px;
    border-radius: 10px;

    .pre-search-view-text-container {
      background:#000000a1;
      height: 100%;
      width: 100%;
      opacity: 0.8;
      top: 0;
      left: 0;
      position: absolute;
      padding: 0;      
    }

    .pre-search-text {
      height: 100%;
      color: #fff;
      line-height: 150px;
      p {
        font-size: 1.8em;
        line-height: 1.5em;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        padding: 0px 10%;
        transform: translate(-50%, -50%)  
      }
    }
  }
}




@media screen and (max-width: 660px) {

  .build-creator-container .parts-table-header {
    display: block;
    grid-template-columns: auto auto;
  }

  .build-creator-container .form-group {
    -ms-flex-pack: end;
    justify-content: start;
    margin-bottom: 0px;
  }
}

.sign-up-text {
  text-align: right;
  padding-right: 10px;
}