.build-creator-container .pre-search-view-container {
  overflow: hidden;
  height: 380px;
  display: block;
  position: relative;
  padding: 30px;
  border-radius: 10px; }
  .build-creator-container .pre-search-view-container .pre-search-view-text-container {
    background: #000000a1;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0; }
  .build-creator-container .pre-search-view-container .pre-search-text {
    height: 100%;
    color: #fff;
    line-height: 150px; }
    .build-creator-container .pre-search-view-container .pre-search-text p {
      font-size: 1.8em;
      line-height: 1.5em;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      padding: 0px 10%;
      transform: translate(-50%, -50%); }

.p-40{
  padding: 0 40px;
}
.p-40 form{
  width: 100%;
}
.p-40 fieldset{
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}
.p-40 legend{
  width: auto;
}

@media screen and (max-width: 660px) {
  .build-creator-container .parts-table-header {
    display: block;
    grid-template-columns: auto auto; }
  .build-creator-container .form-group {
    -ms-flex-pack: end;
    justify-content: start;
    margin-bottom: 0px; } }

.sign-up-text {
  text-align: right;
  padding-right: 10px; }
