@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Gudea:700|Vollkorn:600i');

html, body, #root, .app-container {
  height: 100%;
  width: 100%;
}

.app-container {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
}

.section-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-color: #fff!important;
}


/* THIS IS WHERE GLOBAL STYLES GO */

a, .link {
  color: #222f3e;
}

a:hover {
  color: #576574;
  text-decoration: none;
}

.logo-text {
  font-family: 'Gudea', serif;
  font-size: 18px;
}

.lead-text {
  font-family: 'Vollkorn', serif;
  font-style: italic;
}

@media screen and (max-width: 625px) {
  #desktop-only-buttons {
    display: none;
  }

  #desktop-only-text {
    display: none;
  }

  svg:not(:root).svg-inline--fa {
      overflow: visible;
      margin-right: 0px;
  }

  .mobile-view-select {
    margin-top: 10px;
  }
}
